body {
  background-color: #181818;
  font-family: monospace;
  font-size: 27px;
  line-break: strict;
  display: flex;
}

#brailleText {
  color: #18ee18;
  width: 50%;
  overflow-wrap: break-word;
}

#asciiText {
  color: #ee1818;
  width: 50%;
  overflow-wrap: break-word;
}
