body {
  background-color: #181818;
  font-family: monospace;
  display: flex;
  word-break: break-all;
}

#info {
  position: fixed;
  top: 1%;
  left: 0;
  right: 0;
  font-size: 2vh;
  color: #801880;
  background-color: #101010;
}

#info:hover {
  color: #828;
  background-color: #202020;
}

#work {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 5%;
  height: 90%;
}

#top, #bottom {
  position: absolute;
  left: 0;
  right: 0;
  overflow: scroll;
  border-style: solid;
  border-width: thin;
}

#top {
  top: 0;
  height: 46%;
  border-color: #18ee18;
}

#bottom {
  bottom: 0;
  height: 52%;
  border-color: #ee1818;
}

#brailleText, #asciiText {
  overflow-wrap: break-word;
  word-wrap: break-word;
  top: 0;
  letter-spacing: -1px;
}

#brailleText {
  font-size: 29px;
  color: #18ee18;
}

#asciiText {
  font-size: 33px;
  color: #ee1818;
}

.link:link {
  color: #ddd;
}

.link:visited {
  color: #777;
}

.link:hover {
  color: #fff;
}

.link:active {
  color: #bbb;
}
